
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}
a 
{
  text-decoration: none !important;
  color:  inherit;
}
p 
{
  margin:  0 !important;
}
.ps__rail-y
{
  display: none !important;
}